h1{
    font-size: xxx-large;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-align: center;

    background-color: aquamarine;
}
#one,#two,#three{
    color: blue;
}
a[href = "https://www.google.com"]{
    color: blueviolet;
}
a:hover{
    color: blue;
}
a:visited{
    color:chartreuse ; 
}
p::first-line{
    color: brown;
}
p>em{
    font-size: xx-large;
}
/* *{
    font-size: x-large;
} */
ul{
    list-style-type:lower-latin;
    text-decoration-color: brown;
}