#clockContainer{
    position: relative;
    margin:auto; 
    border : 2px solid red; 
    background-color: red;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute; 
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{

    width: 2%;
    height: 30%;
    left: 49.6%;
    top: 20%;
    opacity: 0.8;

}

#minute{
    /* background: gray; */
    width: 1.25%;
    height: 34%;
    left: 49.6%;
    top: 16%;
    opacity: 0.8;
}
#second{
    background: red;
    width: 0.7%;
    height: 34%;
    left: 49.6%;
    top: 16%;

}